<div class='profileContainer profilePicture blockDisplay'>
  <div class="center ">
    <img src=" <%= @current_user.image %> " class='profileImage'>
  </div>
</div>

<div class="postings">

  <div class="">
    <%= link_to 'Create New CV', new_letter_path %>
  </div>

  <div class="">
    <%= link_to 'All CVs', letters_path %>
  </div>

</div>
