<div class='profileContainer'>
  <div class='profile'>

  </div>

  <div class="profile2">

  </div>
</div>

<div class="postings">
  <ul>
    <% @postings.each do |p| %>
      <li> <%=link_to p.title, posting_path(p) %> </li>
    <% end %>
  </ul>
</div>
