* {
  margin: 0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

body {
  margin:0;
  padding:0;
  background:#eee;
  font-family:'Helvetica Neue', Helvetica, sans-serif;
}

ul {
  padding-left: 10%;
}

li {
  list-style: none;
}

.center {
  text-align: center;
  margin: auto;
}

.blockDisplay {
  display: block;
}
