.navbar {
  position:fixed;
  height:100vh;
  background:grey;
  overflow:hidden;
  width: 75px;
  transition: 0.3s;
}

.navbar:hover {
  overflow: visible;
  width: 150px;
}

.navbar a {
  margin: 0;
  color:white;
  text-decoration:none;
  display:table;
  padding-bottom: .5em;
  min-width: 100%;
  transition: 0.3s;
}

.navbar a:hover {
  background:black;
  color:white;
}

.logo {
  min-height: 75px;
  max-height: 75px;
  min-width: 75px;
  max-width: 75px;
}

.logo:hover {
  background: transparent;
}
